.categories {
    width: 450px;
    margin: 15px;
}

.category-button {
    margin: 2px 5px 0 0;
    padding: 4px;
    cursor: pointer;
    background-color: #262626;
    border: 2px solid #262626;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 3px;
}

.category-button.active {
    background-color: #FFFFFF;
    color: #000000;
}

#categories-shop {
    float: left;
}

#categories-inventory {
    float: right;
}