* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background: #FFE6C9;
}

a:link, a:visited {
    color: #2E1900;
    text-decoration: none;
}

a:active, a:hover {
    color: #FF8900;
}

.clear {
    clear: both;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(/static/arcjail/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

.main {
    font-family: "Roboto";
}

.content {
    margin: 10px;
    padding: 10px 25px;
    background: #FFF7ED;
    box-shadow: 1px 1px 2px #C0C0C0;
}

h1 {
    display: block;
    padding: 20px 15px;
    background-image: linear-gradient(to bottom, #474747, #1C1C1C);
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    font-size: 18pt;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.credits {
    font-size: 12pt;
    color: #00FF00;
    text-shadow: 1px 1px 1px #000;
}