{% extends "arcjail/main.html" %}

{% block main %}
    <div id="item-stats" class="item-stats"></div>
    <h1>INVENTORY</h1>
    <div class="content">
        Your account: <span id="current-account" class="credits"></span><br />
        <div id="categories-inventory" class="categories">

        </div>
        <div class="clear"></div>
        <div id="inventory-container" class="items-container">

        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        var motdPlayer = new MOTDPlayer("{{ server_id }}", "arcjail", "inventory", STEAMID, AUTH_TOKEN, SESSION_ID);
        var inventory = new APP['inventory'](motdPlayer);
    </script>
{% endblock %}
